<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        Abiword HTML Document
    </title>
    <style type="text/css">
        <!-- #toc,
        .toc,
        .mw-warning {
            border: 1px solid #aaa;
            background-color: #f9f9f9;
            padding: 5px;
            font-size: 95%;
        }
        #toc h2,
        .toc h2 {
            display: inline;
            border: none;
            padding: 0;
            font-size: 100%;
            font-weight: bold;
        }
        #toc #toctitle,
        .toc #toctitle,
        #toc .toctitle,
        .toc .toctitle {
            text-align: center;
        }
        #toc ul,
        .toc ul {
            list-style-type: none;
            list-style-image: none;
            margin-left: 0;
            padding-left: 0;
            text-align: left;
        }
        #toc ul ul,
        .toc ul ul {
            margin: 0 0 0 2em;
        }
        #toc .toctoggle,
        .toc .toctoggle {
            font-size: 94%;
        }p, h1, h2, h3, li {
             font-family:'Ubuntu-Light';
             font-size:11.000000pt;
             margin-bottom:10.000000pt;
         }
        *._normal {
            font-size:10.000000pt;
            margin-bottom:0.000000pt;
        }
        *.body_text {
            font-size:11.000000pt;
            text-align:justify;
        }
        *.footer {
        }
        *.header {
        }
        *.heading_2 {
            font-size:11.000000pt;
            font-weight:bold;
            text-align:center;
        }
        body{
            padding-top : 0.394444in;
            padding-bottom : 0.3326in;
            padding-left : 0.500000in;
            padding-right : 0.500000in;
            font-size:11.000000pt;
            font-family:'Ubuntu-Light';
        } -->
    </style>

</head>
<body>        <div>
<h2 id="AbiTOC0">
    <span style="font-size:9pt">ДОГОВОР ПОСТАВКИ</span><span>№ И-{{ user.id | format_agreement }}</span>
</h2>
<p style="display: inline-block">
    <span style="font-size:9pt">город Минск</span> <span style="font-size:9pt; margin-left: 700px;">{{ user.createdAt | date("d/m/Y") }} г.</span>
</p>
<p style="text-align:justify">
</p>
<p>
    <span style="font-size:9pt"></span><span style="font-weight:bold;font-size:9pt">Общество с ограниченной ответственностью «Кампари»</span><span style="font-size:9pt">, именуемое в дальнейшем «Поставщик», в лице заместителя директора по коммерческим вопросам Шманай Татьяны Евгеньевны, действующего на основании доверенности № 4 от 12 января 2015 года &nbsp;и</span><span style="font-size:9pt">{{ user.companyName }}</span><span style="font-size:9pt">, именуемое в дальнейшем «Покупатель», в лице:</span><span style="font-size:9pt">{{ user.position }} {{ user.lastName }} {{ user.firstName }} {{ user.patronymic }}</span><span style="font-size:9pt">, действующего на основании:</span><span style="font-size:9pt">{{ user.document }}</span><span style="font-size:9pt">, &nbsp;заключили настоящий договор о нижеследующем:</span>
</p>
<p style="text-align:justify;margin-bottom:3.000000pt;margin-top:6.000000pt">
    <span style="font-weight:bold;font-size:9pt">1. &nbsp;Предмет договора</span><span style="font-weight:bold;font-size:9pt"></span></p>
<span></span><span style="font-size:9pt">Поставщик обязуется поставлять, а Покупатель обязуется принимать и оплачивать товар на условиях, согласованных сторонами в настоящем договоре.</span><span></span><span style="font-size:9pt">Наименование, ассортимент и количество товара, место поставки согласовываются сторонами в предварительных заявках к каждой партии товара и подтверждаются подписанием товарно-транспортной накладной (товарной накладной) установленной формы (далее – ТТН или ТН).</span><span></span><span style="font-size:9pt">Цель приобретения товара: для розничной и / или оптовой торговли и /или собственного потребления на территории Республики Беларусь.</span>            <p style="text-align:justify;margin-bottom:3.000000pt;margin-top:6.000000pt">
    <span style="font-weight:bold;font-size:9pt">2. &nbsp;Поставка и приемка товара</span>
</p>
<p style="text-align:justify">
    <span style="font-size:9pt">2.1. Поставка товара осуществляется автомобильным транспортом силами и за счет Поставщика. Иные условия поставки (самовывоз) могут быть согласованы сторонами в заявке.</span>
</p>
<p style="text-align:justify">
    <span style="font-size:9pt">2.2. Поставка производится не позднее 5 (пяти) рабочих дней с момента поступления предоплаты за товар на расчетный счет Поставщика.</span>
</p>
<p style="text-align:justify">
    <span style="font-size:9pt">2.3. Приемка товара Покупателем производится согласно Положению о приемке товаров по количеству и качеству, утвержденному постановлением Совмина РБ от 03.09.2008 г. № 1290. Приемка должна производиться Покупателем (уполномоченным представителем Покупателя) в присутствии представителя Поставщика и не позднее 1 часа с момента прибытия товара в пункт разгрузки, если иное не оговорено сторонами в заявке в письменном виде.</span>
</p>
<p style="text-align:justify">
    <span style="font-size:9pt">2.4. При &nbsp;приемке товара &nbsp;Покупатель (уполномоченный представитель Покупателя) проверяет соответствие поставленного товара сведениям, указанным в транспортных и сопроводительных документах по наименованию, ассортименту, количеству и качеству. Факт приемки товара подтверждается подписями и печатями уполномоченных представителей сторон с указанием фамилий и должностей в ТТН (ТН). После подписания ТТН (ТН) претензии по количеству и качеству товара (по явным недостаткам) не принимаются. В случае установления недостачи товара составляется акт о расхождении по количеству и качеству товара представителями Покупателя и Поставщика и недостача возмещается Поставщиком со следующей поставкой. В случае обнаружения некачественного товара составляется акт о расхождении по количеству и качеству товара представителями Покупателя и Поставщика и такой товар Поставщик заменяет качественным со следующей поставкой товара. В случае поставки большего количества товара, чем указано в ТТН (ТН), Покупатель вправе принять такой товар с составлением акта о расхождении по количеству и качеству товара либо отказаться от его приемки.</span>
</p>
<p style="text-align:justify">
    <span style="font-size:9pt">2.5. Право собственности и риск случайной гибели или повреждения товара переходит от Поставщика к Покупателю в момент передачи товара по ТТН (ТН) – согласно отметке представителя Покупателя о получении товара.</span>
</p>
<p style="text-align:justify;margin-bottom:3.000000pt;margin-top:6.000000pt">
    <span style="font-weight:bold;font-size:9pt">3. Порядок расчетов</span>
</p>
<p style="text-align:justify">
    <span style="font-size:9pt">3.1. Цена товара устанавливается в белорусских рублях и определяется ценами Поставщика (прейскурант, действующий на момент отгрузки партии товара).</span>
</p>
<p style="text-align:justify">
    <span style="font-size:9pt">3.2. Оплата за товар производится путем перечисления денежных средств на расчетный счет Поставщика с обязательным указанием в платежном поручении даты договора, на основании которого перечисляется оплата, и номера счета. Датой оплаты считается дата зачисления денежных средств на счет Поставщика.</span>
</p>
<ol>
    <li>
        <span></span><span style="font-size:9pt">Расчеты за товар производятся в порядке 100%-ной предоплаты согласно счету, выставленному Поставщиком;</span>
    </li>

</ol>
<p style="text-align:justify">
    <span style="font-size:9pt">3.4. Поставщик вправе в одностороннем порядке изменить цены на товар в связи с изменением своего прейскуранта.</span>
</p>
<p style="text-align:justify">
    <span style="font-size:9pt">3.5. По мере необходимости стороны оформляют акты сверки взаиморасчетов и направляют их контрагенту, который обязан в течение 3-х рабочих дней с момента получения акта подписать его, заверить печатью и отослать другой стороне либо заявить мотивированные возражения в письменной форме. Если в указанный срок контрагент не направит подписанный акт либо возражения по нему, акт будет считаться согласованным в редакции направившей стороны.</span>
</p>
<p style="text-align:justify;margin-bottom:3.000000pt;margin-top:6.000000pt">
    <span style="font-weight:bold;font-size:9pt">4. &nbsp;Качество товара и порядок приема претензий по скрытым недостаткам товара</span>
</p>
<p style="text-align:justify">
    <span style="font-size:9pt">4.1.</span><span style="font-size:9pt;">Товар должен соответствовать установленным для данного товара требованиям ТНПА РБ, &nbsp;быть упакован &nbsp;в &nbsp;тару, обеспечивающую его сохранность при перевозке в нормальных условиях и хранении, сопровождаться документами, подтверждающими качество и безопасность, определенными требованиями законодательства РБ.</span>
</p>
<p style="text-align:justify">
    <span style="font-size:9pt">4.2. Товары, завезенные из-за пределов Республики Беларусь, должны быть обеспечены необходимой согласно законодательству Республики Беларусь информацией на белорусском или русском языках.</span>
</p>
<p style="text-align:justify">
    <span style="font-size:9pt">4.3. Каждая единица произведенного в Республике Беларусь товара должна быть маркирована штриховыми идентификационными кодами товаров в соответствии с законодательством Республики Беларусь.</span>
</p>
<p style="text-align:justify">
    <span style="font-size:9pt">4.4. При выявлении факта поставки товара со скрытыми недостатками, которые не могли быть выявлены в ходе приемки товара Покупателем, &nbsp;Покупатель обязан прекратить реализацию товара и направить уведомление о вызове представителя Поставщика в течение 24 часов. Факт обнаружения некачественного товара подтверждается двусторонним актом о скрытых недостатках товара, который подписывается представителями сторон и утверждается руководителем Покупателя.</span>
</p>
<p style="text-align:justify;margin-right:3.400000pt">
    <span style="font-size:9pt">4.5. Претензии по качеству товара (скрытым недостаткам) принимаются Поставщиком к рассмотрению в течение срока годности товара.</span>
</p>
<p style="text-align:justify;margin-right:3.400000pt">
    <span style="font-size:9pt">4.6. Поставщик не несет ответственности за качество товара, находящегося у Покупателя сверх срока годности, а также если недостатки товара возникли после его передачи Покупателю вследствие нарушения последним правил и условий хранения товара, либо действий третьих лиц, либо непреодолимой силы.</span>
</p>
<p style="text-align:justify;margin-bottom:3.000000pt;margin-top:6.000000pt">
    <span style="font-weight:bold;font-size:9pt">5. &nbsp;Ответственность сторон</span>
</p>
<p>
    <span style="font-size:9pt">5.1. За необоснованный отказ от приемки заказанной и поставленной партии товара, а также при отсутствии уполномоченных лиц Покупателя в месте разгрузки, согласованном в заявке, Покупатель уплачивает штраф в размере 3 (трех) базовых величин.</span>
</p>
<p>
    <span style="font-size:9pt">5.2. За просрочку поставки или недопоставку товара в срок Поставщик уплачивает Покупателю пеню в размере 0,01 % стоимости не поставленного в срок товара за каждый календарный день просрочки.</span>
</p>
<p>
    <span style="font-size:9pt">5.3. Уплата штрафных санкций не освобождает стороны от исполнения своих обязанностей по договору.</span>
</p>
<p style="text-align:justify;margin-bottom:3.000000pt;margin-top:6.000000pt">
    <span style="font-weight:bold;font-size:9pt">6. Обстоятельства, освобождающие от ответственности</span>
</p>
<p style="text-align:justify">
    <span style="font-size:9pt">6.1. Стороны освобождаются от ответственности за неисполнение либо ненадлежащее исполнение обязательства по настоящему договору, если это явилось следствием обстоятельств непреодолимой силы (форс-мажор), а именно: стихийных явлений, пожаров, наводнений, землетрясений, военных действий, издания актов и иных решений государственных органов власти и управления (включая местных) Республики Беларусь, а также других чрезвычайных и непредотвратимых при данных условиях обстоятельств, которые стороны не могли ожидать и предвидеть, если эти обстоятельства непосредственно повлияли на исполнение настоящего договора. При действии непреодолимой силы срок исполнения обязательств увеличивается соразмерно времени, в течение которого будут существовать соответствующие обстоятельства.</span>
</p>
<p style="text-align:justify;margin-bottom:3.000000pt;margin-top:6.000000pt">
    <span style="font-weight:bold;font-size:9pt">7. &nbsp;Срок действия договора</span>
</p>
<p style="text-align:justify">
    <span style="font-size:9pt">7.1. Настоящий договор вступает в силу с момента подписания его сторонами и действует до конца календарного года, в котором был подписан. Окончание срока действия договора не освобождает стороны от обязанности исполнить взятые на себя обязательства надлежащим образом и от ответственности за нарушение договора.</span>
</p>
<p style="text-align:justify">
    <span style="font-size:9pt">7.2. Если за 15 (пятнадцать) дней до окончания настоящего &nbsp;договора ни одна из сторон не заявит о его прекращении, договор считается продленным на тех же условиях на каждый следующий период с 01.01 по 31.12 каждого следующего года без подписания дополнительных соглашений.</span>
</p>
<p style="text-align:justify;margin-bottom:3.000000pt;margin-top:6.000000pt">
    <span style="font-weight:bold;font-size:9pt">8. Прочие условия</span>
</p>
<p style="text-align:justify">
    <span style="font-size:9pt">8.1. Стороны договорились, что все споры, которые не удалось урегулировать путем переговоров, рассматриваются в Экономическом суде г. Минска в соответствии с законодательством РБ. Стороны устанавливают обязательный &nbsp;&nbsp;претензионный порядок разрешения споров. Срок ответа на претензию – 15 (пятнадцать) календарных дней с момента получения. Претензионный &nbsp;порядок &nbsp;признается &nbsp;Сторонами соблюденным, если претензия была направлена по адресу, указанному в договоре, &nbsp;но &nbsp;ответ на претензию &nbsp;в установленный выше срок получен не был &nbsp;либо претензия была возвращена &nbsp;почтовым отделением связи &nbsp;в связи с отсутствием адресата, отказом &nbsp;от ее получения &nbsp;либо неявкой за ее получением.</span>
</p>
<p style="text-align:justify">
    <span style="font-size:9pt">8.2. Стороны признают факсимильные копии договора и иных документов, направленных на его исполнение, а также документы, полученные по электронной почте. В последующем стороны обязуются обменяться подлинниками соответствующих документов в течение 14 дней с момента получения факсимильных (электронных) копий документов.</span>
</p>
<p style="text-align:justify">
    <span style="font-size:9pt">8.3. При заключении договора Покупатель представляет Поставщику надлежаще заверенные копии свидетельства о государственной регистрации и документа, подтверждающег</span>                <a name="_GoBack">
    </a>
    <span style="font-size:9pt">о полномочия представителя на подписание договора (устава, доверенности, договора, приказа).</span>
</p>
<p style="text-align:justify;margin-bottom:3.000000pt;margin-top:6.000000pt">
    <span style="font-weight:bold;font-size:9pt">9. Юридические адреса, банковские реквизиты и подписи сторон</span>
</p>
<p style="text-align:justify;margin-bottom:3.000000pt;margin-top:6.000000pt">
</p>
<table border="0" cellpadding="0" style="width:100%;border:1pt;border-collapse:collapse;empty-cells:show;table-layout:fixed;border-style:solid">
    <tr>
        <td rowspan="" colspan="" style="padding: 0,00pt;border:inherit inherit #ffffff">
            <p>
                <span style="font-weight:bold;font-size:9pt">Поставщик</span><span style="font-size:9pt">:</span>
            </p>
            <p>
                <span style="font-weight:bold;font-size:9pt">ООО «Кампари»</span>
            </p>
            <p style="margin-right:-5.400000pt">
                <span style="font-size:9pt">220024, г. Минск, ул. Бабушкина, д. 21А</span>
            </p>
            <p>
                <span style="font-size:9pt">Тел./факс (017) &nbsp;291-91-12 &nbsp;(-13,-15)</span>
            </p>
            <p style="margin-right:-5.400000pt">
                <span style="font-size:9pt">Р/с № 3012300008808 в ОАО «Белгазпромбанк»</span>
            </p>
            <p>
            </p>
            <img style="width:24.2mm" src="images/signature.jpg" title="" alt="" align="left">                        <p>
                <span style="font-size:9pt">г. Минск, код 742</span>
            </p>
            <p>
                <span style="font-size:9pt">УНП &nbsp;101362124</span>
            </p>
            <p>
            </p>
            <img style="width:45.0mm" src="images/print.jpg" title="" alt="" align="left"></td>
        <td rowspan="" colspan="" style="padding: 0,00pt;border:inherit inherit #ffffff">
            <p>
                <span style="font-weight:bold;font-size:9pt">Покупатель</span><span style="font-size:9pt">:</span>
            </p>
            <p>
                <span style="font-weight:bold;font-size:9pt">{{ user.companyName }}</span>
            </p>
            <p>
                <span style="font-size:9pt">{{ user.juristicAddress }}</span>
            </p>
            <p>
                <span style="font-size:9pt">Тел.:</span><span style="font-size:9pt">+375 29 1234567</span>
            </p>
            <p>
                <span style="font-size:9pt">Р/с &nbsp;№</span><span style="font-size:9pt">{{ user.bankDetails }}</span>
            </p>
            <p>
                <span style="font-size:9pt">в</span><span style="font-size:9pt">{{ user.bankName }}</span><span style="font-size:9pt">код</span><span style="font-size:9pt">{{ user.bankCode }}</span>
            </p>
            <p>
                <span style="font-size:9pt">УНП</span><span style="font-size:9pt">{{ user.unp }}</span>
            </p>

        </td>

    </tr>
    <tr>
        <td rowspan="" colspan="" style="padding: 0,00pt;border:inherit inherit #ffffff">
            <p>
                <span style="font-size:9pt">___________________/Т.Е. Шманай/</span>
            </p>
            <p>
            </p>
            <p>
                <span style="font-size:9pt">М.П.</span>
            </p>

        </td>
        <td rowspan="" colspan="" style="padding: 0,00pt;border:inherit inherit #ffffff">
            <p>
                <span style="font-size:9pt">______________________/</span><span style="font-size:9pt">{{ user.lastName }} {{ user.firstName }} {{ user.patronymic }}</span>
            </p>
            <p>
            </p>
            <p>
                <span style="font-size:9pt">М.П.</span>
            </p>

        </td>

    </tr>

</table>
<p>
</p>
<p>
</p>
<p class="header" style="margin-right:18.000000pt">
</p>
<p>
</p>
<p class="footer" style="margin-right:18.000000pt">
</p>
<p>
</p>
<p class="footer" style="margin-right:18.000000pt">
<div>
</div>
<p>
</p>
<p class="footer" style="margin-right:18.000000pt">
</p>
</p>
</div>
</body></html>
